{% extends 'base.html.twig' %}

{% block title %}Mon profil - {{ parent() }}{% endblock %}

{% block body %}
    <section class="container my-5">
        <h1>Mon profil</h1>
        {{ form_start(editAccountGeneralInformationForm) }}
        <div class="row my-5">
            <div class="col-lg-6">
                {{ form_row(editAccountGeneralInformationForm.email) }}
                {{ form_row(editAccountGeneralInformationForm.fullname) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(editAccountGeneralInformationForm.avatar) }}
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-success mt-3">Confirmer la modification</button>
            </div>
        </div>
        {{ form_end(editAccountGeneralInformationForm) }}

        {{ form_start(editAccountPasswordForm) }}
        <div class="row my-5">
            <div class="col-6">
                    {{ form_row(editAccountPasswordForm.oldPassword) }}
                    {{ form_row(editAccountPasswordForm.plainPassword) }}
                <input type="hidden" name="token" value="{{ csrf_token('change_password') }}"/>
                <button type="submit" class="btn btn-info mt-3">Confirmer la modification</button>
            </div>
        </div>
        {{ form_end(editAccountGeneralInformationForm) }}

    </section>
{% endblock %}
