<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ email.subject }}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }
        .bottom {
            background-color: #efefee;
        }
        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }
        .logo {
            width: 100%;
        }
        .text-center {
            text-align: center;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #264459;
            color: #fefefe;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('homepage') }}">
                <img src="{{ absolute_url(asset('build/images/email/logo.png')) }}" class="logo" alt="SpaceBar Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Nice to meet you {{ email.toName }}!</h1>
            <p class="block">
                Bienvenue sur <strong>Snowtricks</strong>, nous sommes impatients de decouvrir vos contributions.
                Pour activer votre compte, merci de confirmer votre adresse e-mail en cliquant sur le lien suivant:
            </p>
            <p class="block">
                <a href="{{ absolute_url(path('forgotten_get_credentials', {'id': userId, 'token': userToken})) }}" class="btn">Reinitialiser mon mot de passe</a>
                {#                Ce lien exipre dans {{ tokenLifeTime }}#}
            </p>

            <p class="block text-center">Si vous n'etes pas l'auteur de cette demande, ignorez ce message.</p>
        </div>
        <div class="footer">
            <p class="block">
                L'équipe <em>Snowtricks</em>
            </p>
        </div>
    </div>
</div>
</body>
</html>
