{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form bg-light my-5 p-4">
                {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
                    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

                    {% if error %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                        </div>
                    {% endif %}
                    <div class="col-12">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.password) }}
                    </div>

                <div class="form-check mb-3">
                    <label for=""><input type="checkbox" name="_remember_me" class="form-check-input">Se souvenir de moi</label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="col-12">
                        <button class="btn btn-primary" type="submit">
                            Se connecter
                        </button>
                    </div>
                {{ form_end(form) }}

                <div class="mt-3">
                    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
