{% extends 'base.html.twig' %}

{% block title %}Recupération du mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form bg-light my-5 p-4">
                {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
                <h1 class="h3 mb-3 font-weight-normal">Recupération du mot de passe</h1>

{#                {% if error %}#}
{#                    <div class="alert alert-dismissible alert-danger">#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>#}
{#                        <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>#}
{#                    </div>#}
{#                {% endif %}#}

                <div class="col-12">
                    {{ form_row(form.email) }}
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">
                        Envoyer
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
