
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.trickCategory) }}

    <h4>Images</h4>
    <ul
            class="pictures"
            data-index="{{ form.newTrickImages|length > 0 ? form.newTrickImages|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.newTrickImages.vars.prototype)|e('html_attr') }}"
    >
        <button type="button" class="add_item_link" data-collection-holder-class="pictures">Ajouter une image</button>
        {% for image in form.newTrickImages %}
            {% if not image.name %}
                <li class="item">{{ form_row(image.name) }}</li>
                <li class="item">{{ form_row(image.file) }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <button class="btn btn-primary">
        <i class="fa fa-save"></i>
        Enregistrer les modifications
    </button>
{{ form_end(form) }}

    <div class="row">
        {% for trickImage in trick.trickImages %}
            <div class="col-lg-3 mb-sm-2 d-flex justify-content-between align-items-center">
                <div>
                    <img src="{{ asset(trickImage.path) }}" class="img-thumbnail rounded" alt="{{ trickImage.name }}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <label for="mainPicture">Principale</label>
                            <input type="radio" name="mainPicture" class="js-mainPicture" data-mainPicture="{{ path('trick_setTricksMainPicture', {'slug': trick.slug, 'id': trickImage .id })}}" value="{{ trickImage.id }}">
                        </div>
                        <a href="{{ path('trick_image-delete', {'slug': trick.slug, 'id': trickImage .id }) }}" data-delete data-token="{{ csrf_token('delete-image') }}"><i class="fa fa-trash"></i> Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>





{#    <div class="row">#}
{#        {% for trickImage in trick.trickImages %}#}
{#            <div class="col-lg-3 mb-sm-2">#}
{#                <img src="{{ asset(trickImage.path) }}" class="img-thumbnail rounded" alt="{{ trickImage.name }}">#}
{#                <a href="{{ path('trick_image-delete', {'slug': trick.slug, 'id': trickImage .id }) }}" data-delete data-token="{{ csrf_token('delete-image') }}"><i class="fa fa-trash"></i> Supprimer</a>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    {{ form_errors(form.trickImages) }}#}

{#{{ form_end(form , {render_rest: false}) }}#}
