
<div class="card rounded box js-trick-card" id="trick-{{ trick.slug }}">

    {% if trick.mainTrickImage is null %}
        <img src="{{ asset("uploads/snowboard-default.jpg") }}" class="img-fluid box-img-top card-img-top rounded-top" alt="Image d'un trick par defaut">
    {% else %}
        {% for trickImage in trick.trickImages %}
            {% if trickImage.id == trick.mainTrickImage.id %}
                <img src="{{ asset(trickImage.path) }}" class="box-img-top card-img-top rounded-top" alt="{{ trickImage.name }}">
            {% endif %}
        {% endfor %}
    {% endif %}
        <div class="card-body rounded">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-9">
                    <h4 class="card-title"><a href="{{ path('trick_show', {'category_slug': trick.trickCategory.slug, 'slug': trick.slug}) }}">{{ trick.name }}</a></h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ trick.trickCategory.name }}</h6>
                </div>

                {% if is_granted('ROLE_ADMIN') or trick.author == app.user %}
                    <div class="col-xl-3 d-sm-flex flex-xl-column">
                        <a class="fs-4 m-2" href="{{ path('trick_edit', {'slug': trick.slug }) }}"><i class="fa fa-edit"></i></a>
                        <a class="fs-4 m-2 " id="js-deleteTrick" href="{{ path('trick_delete', {'slug': trick.slug}) }}" data-deleteTrick data-token="{{ csrf_token('delete-trick') }}"><i class="fa fa-trash"></i></a>
{#                        <button class="fs-4 m-2" id="js-editTrick" data-slug="{{ trick.slug }}"><i class="fa fa-edit"></i></button>#}
{#                        <button class="fs-4 m-2" id="js-deleteTrick" data-slug="{{ trick.slug }}" data-deleteTrick data-token="{{ csrf_token('delete-trick') }}"><i class="fa fa-trash"></i></button>#}
                        {#                    <a class="fs-4 m-2" href="{{ path('trick_delete', {'slug': trick.slug, 'csrf_token': 'remove' }) }}"><i class="fa fa-trash"></i></a>#}
                    </div>
                {% endif %}
             </div>
        </div>
</div>

{#                        <a class="fs-4 m-2" href="{{ path('trick_edit', {'slug': trick.slug }) }}"><i class="fa fa-edit"></i></a>#}
{#                        <a class="fs-4 m-2 " id="js-deleteTrick" href="{{ path('trick_delete', {'slug': trick.slug}) }}" data-deleteTrick data-token="{{ csrf_token('delete-trick') }}"><i class="fa fa-trash"></i></a>#}