{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <section class="container rounded border border-2 my-5 p-0">
        {% if trick.mainTrickImage is null %}
            <img src="{{ asset("uploads/snowboard-default.jpg") }}" class="card-img-top rounded-top" alt="Image d'un trick par defaut">
        {% else %}
            {% for trickImage in trick.trickImages %}
                {% if trickImage.id == trick.mainTrickImage.id %}
                    <img src="{{ asset(trickImage.path) }}" class="img-fluid rounded-top" alt="{{ trickImage.name }}">
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="row m-5">
            <div class="col-lg-6">
                <div class="row">
                <h3 class="media-title">Videos</h3>
                </div>
                <div class="row">
{#                    https://www.youtube.com/watch?v=SL1NtA_UJ34#}
{#                    https://www.youtube.com/embed/SL1NtA_UJ34#}
                    {% for trickVideo in trick.trickVideos %}
                        <div class="col-lg-4 mb-sm-2">
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="{{ trickVideo.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <h3 class="media-title">Images</h3>
                </div>
                <div class="row">

                    {% for trickImage in trick.trickImages %}
                        <div class="col-lg-4 mb-sm-2 d-flex ">
                            <img src="{{ asset(trickImage.path) }}" class="img-thumbnail rounded" alt="{{ trickImage.name }}">
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="row p-5">
            <h2>{{ trick.name }}</h2>
            <p><small>Crée le {{ trick.createdAt | date('d/m/Y H:i') }} Par: </small><strong>{{ trick.author.username }}</strong></p>
            <p class="mx-auto"><span class="badge bg-info">{{ trick.trickCategory.name }}</span></p>
            <p class="lead">{{ trick.description }}</p>
        </div>
    </section>
{% endblock %}
